<div class="uploads-header">
    <h3>Logfile</h3>
</div>

<div class="new-upload">
    <h5>Log Filters:</h5>
    <div class="d-flex flex-row">
         <form action="log/applyFilters" method="POST" id="logarea" enctype="multipart/form-data">
             {% csrf_token %}
             <input type="checkbox" id="all" name="all" value="1"> 
             <label for="all">Verbose</label><br>
             <input type="checkbox" id="debug" name="debug" value="1"> 
             <label for="debug">DEBUG</label><br>
             <input type="checkbox" id="info" name="info" value="1"> 
             <label for="info">INFO</label><br>
             <input type="checkbox" id="error" name="error" value="1"> 
             <label for="error">ERROR</label><br>
             <input type="checkbox" id="warning" name="warning" value="1"> 
             <label for="warning">WARNING</label><br>
             <input type="checkbox" id="critical" name="critical" value="1"> 
             <label for="all">CRITICAL</label><br>
             <input type="submit" value="Apply">
             <span id="success" style="display: none">
                     &nbsp;<i style="color: green" class="fa fa-check"></i>
                     &nbsp; <span id="scsmsg"></span>
             </span>
         </form>
    </div>
    <button class="btn btn-primary" onclick="loadlog()">Load Logs</button>
    <button class="btn btn-primary" onclick="clearlog()">Clear Logs</button>
    <h3>Applicable Logs:</h3>
    <div class="mainpanel terminal" id="term">
        <pre id ="termtext">
            test Text 
        </pre>
        {{text}}
    </div>
    <h3>my G-code input:</h3>
    <form action="log/send-gcode" class="gcodesend" methode="POST" id="gcodesender">
        {% csrf_token %}
        
        <input type="text" name="gcode-input">

        <input type="submit" name="send-gcode" value="send gcode">
    </form>
</div>

<script type="text/javascript">
    $('#logarea').submit(function(evt) {
        evt.preventDefault();
        let formData = new FormData($(this)[0]);
        $.ajaxSetup({
        // make sure to send the header
            headers: {
                "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value,
            }
        });
        $.ajax({
            url: 'log/applyFilters',
            method: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                $('#success').show();
                $('#scsmsg').text("Applied Filters!");
                loadlog(true);
            },
            error: function(data){
                console.log('Error: ' + data)
            
            }
        });
    });
    function loadlog(quiet = false){
        log_ID=$("#Job_ID").val(),
        $.ajax({
            url: 'log/getlogs',
            method: 'POST',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                id:log_ID,
            },
            success: function (data) {
                $('#termtext').text("");
                $('#termtext').text(data);
                $('#success').show();
                if (!quiet){
                    $('#scsmsg').text("Loaded Logs!");
                }
                var t = document.getElementById("term");
                t.scrollTop = t.scrollHeight;
            },
            error: function(data){

                alert("Fehler"+ data);
            },
            
        });
    }
    function clearlog(){
        log_ID=$("#Job_ID").val(),
        $.ajax({
            url: 'log/clearlogs',
            method: 'POST',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function (data) {
                $('#success').show();
                $('#scsmsg').text("Cleared Logs!");
                loadlog(true);             
            },
            error: function(data){

                alert("Fehler"+ data);
            },
            
        });
    }
    function update() {
        $.ajax({
            url: 'log/update',
            method: 'POST',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function (data) {
                console.log(data)
                if(data == "True"){
                    loadlog();
                }
            },
            error: function (data) {
                console.log("Error: " + data);
            },
        });
    
        setTimeout(update, 1000);
    }
    $(document).ready(function() {
        update();
    });   

 //herber likes to send gcode
 $('#gcodesender').submit(function(evt) {
        evt.preventDefault();
        let formData = new FormData($(this)[0]);
        $.ajaxSetup({
        // make sure to send the header
            headers: {
                "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value,
            }
        });
        $.ajax({
            url: 'log/send_gcode',
            method: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                $('#success').show();
                $('#scsmsg').text("custom g-code send");
                loadlog(true);
            },
            error: function(data){
                console.log('Error: ' + data)
            
            }
        });
    });

</script>

