{%  extends 'base.html' %}

{% block content %}

    <div class="navbar">
        <div class="navbar-buttons">
            <button class="btn">
                LogOut
            </button>
            <button class="btn">
                Settings
            </button>
            <button class="btn">
                My Uploads
            </button>
        </div>
    </div>

    <div class="center">

        <div class="sidebar">
            <div class="connection">

            </div>
            <div class="uploads">

            </div>
            <div class="camera">

            </div>
        </div>

        <div class="mainpanel">

        </div>

    </div>

{% endblock %}