{% extends 'base.html' %}

{% block content %}

    <div class="navbar-sbb">
        <div class="navbar-title">
            Hallo {{ user.username }}!
        </div>
        <div class="navbar-buttons">
            <button class="btn btn-secondary">
                <i class="fa fa-cog"></i>
            </button>
            <button class="btn btn-secondary">
                My Uploads <i class="fa fa-folder"></i>
            </button>
            <button class="btn btn-secondary" onclick="window.location.href='/accounts/logout' ">
                LogOut
                <i class="fa fa-sign-out"></i>
            </button>
        </div>
    </div>

    <div class="center">

        <div class="sidebar">
            <div class="connection">
                <button class="panel-head" type="button" data-toggle="collapse" data-target="#connectionPanel"
                        aria-expanded="false" aria-controls="connectionPanel">
                    Connection
                </button>
                <div class="collapse" id="connectionPanel">
                    <div class="card card-body">
                        <div class="list-entry opener" id="show-connection">
                            Show Connection
                        </div>
                        <div class="list-entry opener" id="connection-log">
                            Connection Log
                        </div>
                        <div class="list-entry opener" id="connection-stats">
                            Connection Stats
                        </div>
                    </div>
                </div>
            </div>
            <div class="uploads">
                <button class="panel-head" type="button" data-toggle="collapse" data-target="#uploadPanel"
                        aria-expanded="false" aria-controls="uploadPanel">
                    Files
                </button>
                <div class="collapse" id="uploadPanel">
                    <div class="card card-body">
                        <div class="list-entry opener" id="show-uploads">
                            Show Uploads
                        </div>
                        <div class="list-entry opener" id="my-uploads">
                            My Uploads
                        </div>
                        <div class="list-entry opener" id="teacher-uploads">
                            Teacher Uploads
                        </div>
                    </div>
                </div>
            </div>
            <div class="camera">
                <button class="panel-head" type="button" data-toggle="collapse" data-target="#cameraPanel"
                        aria-expanded="false" aria-controls="cameraPanel">
                    Camera
                </button>
                <div class="collapse" id="cameraPanel">
                    <div class="card card-body">
                        <div class="list-entry opener" id="show-camera">
                            Live Camera
                        </div>
                        <div class="list-entry opener" id="show-scans">
                            Scans
                        </div>
                    </div>
                </div>
            </div>
            <div class="camera">
                <button class="panel-head" type="button" data-toggle="collapse" data-target="#motorControl"
                        aria-expanded="false" aria-controls="motorControl">
                    Motor
                </button>
                <div class="collapse" id="motorControl">
                    <div class="card card-body">
                        <div class="list-entry opener" id="motorcontrol">
                            Motorsteuerung
                        </div>
                    </div>
                </div>
            </div>
                        <div class="camera">
                <button class="panel-head" type="button" data-toggle="collapse" data-target="#parser"
                        aria-expanded="false" aria-controls="parser">
                    Parser
                </button>
                <div class="collapse" id="parser">
                    <div class="card card-body">
                        <div class="list-entry opener" id="parser">
                            Parsen
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="mainpanel" id="mainpanel">

        </div>

    </div>

    <a class="bottom-left btn btn-secondary" href="/">
        <i class="fa fa-backward"> </i> Back
    </a>

    <script>
        $(document).ready(function () {
            $('.opener').click(function (event) {
                console.log("Loading " + event.target.id);
                loadPanel(event.target.id);
            });
        });

        function loadPanel(target) {
            console.log("Loading " + target);

            $.ajax({
                url: 'loadpanel',
                method: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    target: target,
                },
                success: function (data) {
                    $('#mainpanel').html(data);
                },
                error: function (data) {
                    console.log(data);
                },
            });
        }
    </script>

{% endblock %}

