{% extends 'base.html' %}

{% block content %}

    <div class="ff-panel">
        <div class="titlebanner">
            <h1>SmartBoardBot</h1>
            <h3>Weil kreative Namensfindung am Gymnasium Höchstadt nicht unterrichtet wird.</h3>
        </div>
        <div class="content-wrapper">
            {% if user.is_authenticated %}
                <a class="btn btn-primary" href="/home">Control Panel</a>
            {% else %}
                <a class="btn btn-primary" href="/accounts/login">Log in</a>

            {% endif %}
        </div>
    </div>

    <a class="bottom-left btn btn-secondary" href="/admin/">
        Admin-Panel
    </a>

{% endblock %}