<div class="centered-container">
    <div class="dashboard-container">
        <div class="draw-container">
            <h3> Zeichnen </h3>

            <form action="dashboard/start_drawing" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <input class="btn btn-secondary" name="file" type="file" id="file">
                <br>
                <label for="x-start">
                    X-Koordinate
                </label>
                <input name="x-start">

                <label for="y-start">
                    Y-Koordinate
                </label>
                <input name="y-start">
                <label for="color"></label>
                <select name="color" id="color">
                    <option value="RED">
                        Rot
                    </option>
                    <option value="BLUE">
                        Blau
                    </option>
                </select>

                <br>
                <p id="penStatus">

                </p>

                <button class="btn btn-primary green">Zeichnen!</button>
            </form>

            <div class="statusbar">
                <div class="statusbarelement">
                    <div class="statusbarcircle" id="status_uploading">

                    </div>
                    <div class="statusbardescription">
                        Hochladen
                    </div>
                </div>
                <div class="statusbarelement">
                    <div class="statusbarcircle" id="status_converting">

                    </div>
                    <div class="statusbardescription">
                        Umwandeln JPG->SVG
                    </div>
                </div>
                <div class="statusbarelement">
                    <div class="statusbarcircle" id="status_parsing">

                    </div>
                    <div class="statusbardescription">
                        Parsen zu GCode
                    </div>
                </div>
                <div class="statusbarelement">
                    <div class="statusbarcircle" id="status_drawing">

                    </div>
                    <div class="statusbardescription">
                        Malen
                    </div>
                </div>
            </div>

            <button class="btn btn-danger" onclick="cancelDrawing()">
                Abbrechen
            </button>

        </div>

        <div class="scan-container">
            <h3> Scannen </h3>


            <button class="btn btn-primary green" onclick="scan()">
                Starten!
            </button>

            <div class="statusbar">
                <div class="statusbarelement">
                    <div class="statusbarcircle" id="status_photographing">

                    </div>
                    <div class="statusbardescription">
                        Fotografieren
                    </div>
                </div>
                <div class="statusbarelement">
                    <div class="statusbarcircle" id="status_stitching">

                    </div>
                    <div class="statusbardescription">
                        Stitchen
                    </div>
                </div>
                <div class="statusbarelement">
                    <div class="statusbarcircle" id="status_scan_finished">

                    </div>
                    <div class="statusbardescription">
                        Fertig
                    </div>
                </div>

            </div>

            <button class="btn btn-danger" onclick="cancelScan()">
                Abbrechen
            </button>
        </div>

    </div>

    <script type="text/javascript">
        function cancelDrawing() {
            $.ajax({
                url: 'dashboard/cancel_drawing',
                method: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (data) {
                    console.log("Drawing canceled.")
                },
                error: function (data) {
                    console.log("Error: " + data)
                },
            });
        }

        function cancelScan() {
            $.ajax({
                url: 'dashboard/cancel_scan',
                method: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (data) {
                    console.log("Scan canceled")
                },
                error: function (data) {
                    alert("Error: " + data);
                },
            });
        }

        function scan() {
            window.location.href="https://www.youtube.com/watch?v=dQw4w9WgXcQ";
            $.ajax({
                url: 'dashboard/start_scan',
                method: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (data) {
                    console.log("Started scan")
                },
                error: function (data) {
                    alert("Error: " + data);
                },
            });
        }

        function update() {
            $.ajax({
                url: 'dashboard/update',
                method: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (data) {
                    console.log(data)
                    let info = JSON.parse(data);

                    if(info['pen'] === "HIGH"){
                        $('#penStatus').html("PEN HIGH")
                    }else{
                        $('#penStatus').html("PEN LOW")
                    }

                    if (info['status'] === "WORKING") {
                        switch (info['job']) {
                            case "convert":
                                $('#status_uploading').css('background-color', 'green');
                                $('#status_converting').css('background-color', 'yellow');
                                resetScan();
                                break;
                            case "parse":
                                $('#status_uploading').css('background-color', 'green');
                                $('#status_converting').css('background-color', 'green');
                                $('#status_parsing').css('background-color', 'yellow');
                                resetScan();
                                break;
                            case "draw":
                                $('#status_uploading').css('background-color', 'green');
                                $('#status_converting').css('background-color', 'green');
                                $('#status_parsing').css('background-color', 'green');
                                $('#status_drawing').css('background-color', 'yellow');
                                resetScan();
                                break;
                            default:
                                resetScan();
                                resetDraw();
                        }
                    } else if (info['status'] === "FINISHED"){
                        if(info['job'] === "draw"){
                            $('#status_uploading').css('background-color', 'green');
                            $('#status_converting').css('background-color', 'green');
                            $('#status_parsing').css('background-color', 'green');
                            $('#status_drawing').css('background-color', 'green');
                        }else if(info['job'] === 'stitch'){
                            $('#status_photographing').css('background-color', 'green');
                            $('#status_stitching').css('background-color', 'green');
                            $('#status_scan_finished').css('background-color', 'green');
                        }
                        switch(info['job']){
                            case "convert":
                                $('#status_uploading').css('background-color', 'green');
                                $('#status_converting').css('background-color', 'green');
                                resetScan();
                                break;
                            case "parse":
                                $('#status_uploading').css('background-color', 'green');
                                $('#status_converting').css('background-color', 'green');
                                $('#status_parsing').css('background-color', 'green');
                                resetScan();
                                break;
                            case "draw":
                                $('#status_uploading').css('background-color', 'green');
                                $('#status_converting').css('background-color', 'green');
                                $('#status_parsing').css('background-color', 'green');
                                $('#status_drawing').css('background-color', 'green');
                                resetScan();
                                break;
                            default:
                                resetScan();
                                resetDraw();
                        }
                    } else if(info['status'] === "CANCELED"){
                        switch (info['job']) {
                            case "convert":
                                $('#status_uploading').css('background-color', 'green');
                                $('#status_converting').css('background-color', 'red');
                                resetScan();
                                break;
                            case "parse":
                                $('#status_uploading').css('background-color', 'green');
                                $('#status_converting').css('background-color', 'green');
                                $('#status_parsing').css('background-color', 'red');
                                resetScan();
                                break;
                            case "draw":
                                $('#status_uploading').css('background-color', 'green');
                                $('#status_converting').css('background-color', 'green');
                                $('#status_parsing').css('background-color', 'green');
                                $('#status_drawing').css('background-color', 'red');
                                resetScan();
                                break;
                            default:
                                resetScan();
                                resetDraw();
                        }
                    } else if(info['status'] === "IDLE") {
                        //console.log("Resetting status bars")
                        resetScan();
                        resetDraw();
                    }
                },
                error: function (data) {
                    console.log("Error: " + data);
                },
            });

            setTimeout(update, 1000);
        }

        function resetScan(){
            $('#status_photographing').css('background-color', 'white');
            $('#status_stitching').css('background-color', 'white');
            $('#status_scan_finished').css('background-color', 'white');
        }

        function resetDraw(){
            $('#status_uploading').css('background-color', 'white');
            $('#status_converting').css('background-color', 'white');
            $('#status_parsing').css('background-color', 'white');
            $('#status_drawing').css('background-color', 'white');
        }

        $(document).ready(function () {
            update();
        });
    </script>
</div>