{% extends 'base.html' %}
{% block content %}
    <div class="ff-panel">
        <div class="titlebanner">
            <h1>SmartBoardBot</h1>
            <h3>Gib mir deine Login-Daten und ich geb dir ein geiles Userinterface.</h3>
        </div>
        <div class="content-wrapper">
            <div class="login-form-wrapper">
                <h3>
                    Login:
                </h3>
                <br>
                <form action="/accounts/login/" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">
                            Einloggen <i class="fa fa-sign-in"></i>
                        </button>

                    </div>
                </form>

            </div>

        </div>
    </div>

    <a class="bottom-left btn btn-secondary" href="/">
        Back
    </a>

{% endblock %}
