<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SBB - Test Page</title>
    <meta name="description" content="Test Page">

</head>
<body>

<h1>
    Please log in lol
</h1>

<form method="POST">
    {%  csrf_token  %}
    {{ form.as_p }}

    <!--
    <label for="usernmae">
        Username:
    </label>
    <input type="text" name="username" id="usernmae">

    <label for="password">
        Password:
    </label>
    <input type="text" name="password" id="password">
    -->
    <button type="submit">
        Einloggen! Jetzt!
    </button>
</form>


</body>
</html>