
.headline {
    color: red;
}

body {
    margin: 0 !important;
}

.navbar-sbb {
    top: 0;
    left: 0;
    height: 50px;
    width: 100vw;
    overflow: hidden;


    background-color: #1e1e1e;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-buttons {
    overflow: hidden;
    padding-right: 20px;
    background-color: inherit;
}

.navbar-title {
    padding-left: 20px;
    float: left;
    color: white;
}

.btn {
    background-color: #005398;
    color: white;

    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;

    transition: all .5s ease;
}

.btn:hover {
    background-color: white;
    color: #005398;
}

.center {
    width: 100%;
    height: calc(100vh - 50px);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #646464;
    background-image: linear-gradient(to bottom left, #1e1e1e, #003e6e);
    overflow: hidden;
}

.sidebar {
    -webkit-box-shadow: 0px 0px 6px -1px #FFFFFF;
    box-shadow: 0px 0px 6px 0px #FFFFFF;

    overflow: hidden;

    width: 20vw;
    height: 800px;
    background-color: #1c1c1c;
    color: white;
    border-radius: 20px;
    margin: 10px;
}

.mainpanel {
    -webkit-box-shadow: 0px 0px 6px -1px #FFFFFF;
    box-shadow: 0px 0px 6px 0px #FFFFFF;

    margin: 10px;
    width: 80vw;
    height: 800px;
    background-color: #1c1c1c;
    border-radius: 20px;
}

.btn:hover > .rotating {
    transition: all 1.5s ease-out;
    transform: rotate(1800deg);
    visibility: visible;
}

.rotating {
    visibility: hidden;
}

.ff-panel {
    width: 100%;
    height: 100%;
}

.titlebanner {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.titlebanner {
    background-image: linear-gradient(to bottom right, #1e1e1e, #005398);
    color: white;
}

.content-wrapper {
    background-color: #1c1c1c;
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-wrapper a {
    height: 100px;
    width: 400px;
    text-align: center;
    font-size: xx-large;
    padding: 20px;
}

.bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 20px;
}

.login-form-wrapper {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel-head {
    color: white;
    background-color: transparent;

    border-radius: 0px;
    border-style: solid;
    border-width: thin;
    border-color: #646464;

    width: 100%;
    height: 50px;
}

.panel-head:hover {
    background-color: white;
    color: #1c1c1c;
}

.card {
    background-color: #003e6e !important;
    color: inherit;
    border-width: 1px !important;
    border-color: #003e6e !important;
    padding: 0px !important;
}

.list-entry:nth-child(2n) {
    background-color: #005398;
}

.list-entry {
    width: 100%;
    height: 30px;
    font-size: 15px;
    padding: 5px;
}

.list-entry:hover {
    background-color: white;
    color: black;
}

.errorpanel {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.errorpanel h1 {
    color: inherit;
}

.centered-container {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.uploads-header {
    width: 100%;
    text-align: center;
    color: white;
    margin: 10px;
}

.new-upload {
    padding: 20px;
    color: white;
}

.status {
    height: 40px;
}

.status span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filelist {
    color: white;
    width: 100%;
}

.filelist table {
    width: 100%
}

.filelist thead {
    background-color: #003e6e;
}

.filelist td {
    padding: 10px;
}

.greytr:nth-child(2n) {
    background-color: #3f3f3f;
}


.dashboard-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    height: 100%;
    padding: 10px;
}


.draw-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.scan-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.green{
    color: white;
    background-color: green!important;
    border: 0;
}

.btn-danger{
    color: white;
    background-color: red;
}

.statusbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.statusbarelement{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 10px;
}

.statusbarcircle{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
}

.statusbardescription{
    color: white;
    margin-top: 5px;
}